<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.tnt.commonutilities.ListnerImplementation"/>
</listeners>
  <test name="SmokeAndRegression">
  <groups>
  <run>
  <include name="retriveService"/>
  </run>
  </groups> 
    <classes>
        <class name="com.tnt.ccd.CCD_CMOD_SmokeTest"/> 
       <class name="com.tnt.ccd.CCD_RegressionTestExecution"/>
      <!--   <class name="com.tnt.cmod.CMOD_RegressionTestExecution"/>  -->
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->