<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="env" value="UAT" />
	<listeners>
		<listener
			class-name="com.tnt.commonutilities.ListnerImplementation" />
	</listeners>
	<test name="SmokeAndRegression">
	 	<groups>
			<run>
				 <include name="SISP" />
				<!-- <include name="SpSThirdParty" />  -->
			</run>
		</groups> 
		<classes>
			 <class name="com.tnt.ccd.CCD_Booking" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->